html, body{
    background: #eee;
}
.slider_section{
    background: #7FD6F2;
}

.slider_section .carousel{
    border: 1px solid #999;
}
.carousel .item img{
    width: 100%;
    height: 400px;
}

.main_menu.navbar{
    margin-bottom: 0px;
}

.slider_section .carousel-caption{
    background: #000;
    bottom: 200px
}

.welcome_image img{
    width: 100%;
}

.welcome_section{
    padding: 10px 0;
}


.testimonial .item img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: auto;
}
.modal-dialog .modal-lg{
    height: 1000px;
}